!!!
%html
  %head
    %title Chatt

    :javascript
      window.module = undefined;
      window.require = undefined;

    = action_cable_meta_tag
    = csrf_meta_tags

    = stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = yield
